services:
  postgres:
    image: postgres:latest
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: appdb
    volumes:
      - postgres_data_1:/var/lib/postgresql/
      - postgres_data_2:/Documents/postgresql/
    expose:
      - "5432"


  redis:
    image: redis:latest
    container_name: redis_cache
    restart: always
    expose:
      - "6379"

  private_registry:
    image: registry:2
    container_name: private_registry
    restart: always
    ports:
      - "5001:5000"
    volumes:
      - registry_data:/data

volumes:
  postgres_data1:
  postgres_data2:
  registry_data:
