services:
  postgres:
    image: postgres:latest
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: appdb
    volumes:
     - postgres_data:/var/lib/postgresql

    expose:
      - "5432"

  redis:
    image: redis:latest
    container_name: redis_cache
    restart: always
    expose:
      - "6379"

  private_registry:
    image: registry:2
    container_name: private_registry
    restart: always
    ports:
      - "5001:5000"
    volumes:
      - registry_data:/data

volumes:
  postgres_data:
  registry_data:
