version: "3.8"

services:
  postgres:
    container_name: infra-postgres
    image: postgres:latest
    environment:
      POSTGRES_PASSWORD: example
    ports:
      - "5432:5432"
    restart: unless-stopped

  redis:
    container_name: infra-redis
    image: redis:latest
    ports:
      - "6379:6379"
    restart: unless-stopped
